{% extends "base.html" %} {% block content %} {% for blog in blogs %}
<div>
  <li>{{ blog.Title }}</li>
  {% if blog.Image %}
  <img
    src="{{ blog.Image.url }}"
    alt="{{ blog.Title }} Image"
    height="200px"
    width="200px"
  />
  {% endif %}
  <p>Category: {{ blog.Category }}</p>
  {% if blog.Summary %}
  <p>Summary: {{ blog.Summary }}</p>
  {% endif %}
  <p>Content: {{ blog.Content }}</p>
  <p>Draft: {% if blog.is_draft %} Yes {% else %} No {% endif %}</p>
</div>
<hr />
{% endfor %} {% endblock %}
